.section-wrap {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
}

.hero {
  width: 100%;
  height: 650px;
  background: url("../images/comapny/hero1.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > img {
  width: 450px;
  height: auto;
}

.title {
  color: #0F70A3;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #0F70A3;
  border-top: 1px solid #0F70A3;
  column-gap: 150px;
}

.title > li:nth-child(1) {
  font-weight: 400;
}

.title > li:nth-child(1) {
  font-weight: bold;
}

.history h2 {
  width: 100%;
  height: 100px;
  font-size: 22px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  border-bottom: 1px solid #0F70A3;
  color: #0F70A3;
}

.history .history-wrap {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
  padding: 50px;
  position: relative;
}

.history .history-wrap img {
  width: 100%;
  z-index: 0;
}

.history .history-wrap .history-text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  font-size: 22px;
  font-weight: 500;
  color: #0F70A3;
  line-height: 30px;
}

.history .history-wrap .history-text > li {
  position: absolute;
}

.history .history-wrap .history-text > li:nth-child(1) {
  top: 104px;
  left: 300px;
  text-align: left;
}

.history .history-wrap .history-text > li:nth-child(2) {
  top: 572px;
  left: 433px;
}

.history .history-wrap .history-text > li:nth-child(3) {
  top: 1016px;
  left: 299px;
  text-align: center;
}

.history .history-wrap .history-text > li:nth-child(4) {
  bottom: 170px;
  left: 330px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.P-none {
  display: none !important;
}

.performance {
  width: 100%;
  border-top: 1px solid #0F70A3;
}

.performance h2 {
  width: 100%;
  height: 100px;
  font-size: 22px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}
