.mobile-slide {
  display: none;
}

.nav-slide-wrap .slide {
  max-width: 100%;
  height: 650px;
}

.nav-slide-wrap .slide .items-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  z-index: 1;
}

.nav-slide-wrap .slide .items-wrap #items {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-slide-wrap .slide .items-wrap #items li {
  transition: all ease-in-out .5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}

.nav-slide-wrap .slide .items-wrap #items li img {
  width: 100%;
}

.nav-slide-wrap .top {
  z-index: 1 !important;
  opacity: 1 !important;
}

.nav-slide-wrap .slide-text {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  width: 1200px;
  height: 650px;
  position: absolute;
  transform: translate(-50%, 0);
  top: 100px;
  left: 50%;
  z-index: 10;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: right;
  padding: 200px 100px;
}

.nav-slide-wrap .slide-text h2 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
}

.nav-slide-wrap .slide-text h2 span {
  font-size: 52px;
  font-weight: 500;
}

.nav-slide-wrap .slide-text .btn-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  margin-top: 50px;
}

.nav-slide-wrap .slide-text .btn-wrap .btn-1 {
  width: 210px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #50a9df;
  text-shadow: none;
}

.nav-slide-wrap .slide-text .btn-wrap .btn-2 {
  width: 210px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  border: 1px solid #fff;
}

.line-1 {
  box-sizing: border-box;
  height: 1px;
  max-width: 1200px;
  border-bottom: 1px solid #fff;
  color: white;
  position: absolute;
  transform: translate(-100%, 0);
  bottom: 0;
  left: 100%;
  z-index: 10;
  width: 1200px;
}

.line-2 {
  box-sizing: border-box;
  height: 1px;
  max-width: 1200px;
  border-bottom: 1px solid #fff;
  color: white;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: -50px;
  left: 50%;
  z-index: 10;
  width: 1200px;
}

.section-wrap {
  position: absolute;
  top: 750px;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.shorcut {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #0F70A3;
}

.shorcut ul {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
}

.shorcut ul li {
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #0F70A3;
  border-right: 1px solid #0F70A3;
}

.shorcut ul li img {
  height: 150px;
}

.shorcut ul li h3 {
  margin-top: 30px;
}

.service .title {
  height: 100px;
}

.service .title h2 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}

.service .service-wrap-wrap {
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
  background: #f8fdff;
}

.service .service-wrap-wrap .service-line-m {
  display: none;
}

.service .service-wrap-wrap .ul-service-wrap {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
}

.service .service-wrap-wrap .ul-service-wrap .first-service {
  height: 250px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0F70A3;
}

.service .service-wrap-wrap .ul-service-wrap .first-service li {
  flex: 1;
  display: flex;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}

.service .service-wrap-wrap .ul-service-wrap .first-service li img {
  height: 250px;
}

.service .service-wrap-wrap .ul-service-wrap .first-service li p {
  line-height: 30px;
  font-size: 22px;
  color: #0F70A3;
  padding-right: 30px;
}

.service .service-wrap-wrap .ul-service-wrap .first-service li p span {
  font-weight: bold;
  line-height: 55px;
  font-size: 26px;
}

.service .service-wrap-wrap .ul-service-wrap .first-service li:nth-child(1) {
  border-right: 1px solid #0F70A3;
}

.service .service-wrap-wrap .ul-service-wrap .second-service {
  height: 250px;
  display: flex;
}

.service .service-wrap-wrap .ul-service-wrap .second-service li {
  flex: 1;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.service .service-wrap-wrap .ul-service-wrap .second-service li img {
  height: 250px;
}

.service .service-wrap-wrap .ul-service-wrap .second-service li p {
  line-height: 30px;
  font-size: 22px;
  color: #0F70A3;
  padding-left: 30px;
}

.service .service-wrap-wrap .ul-service-wrap .second-service li p span {
  font-weight: bold;
  line-height: 55px;
  font-size: 26px;
}

.service .service-wrap-wrap .ul-service-wrap .second-service li:nth-child(1) {
  border-right: 1px solid #0F70A3;
}

.about .title {
  height: 100px;
}

.about .title h2 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}

.about .about-content-wrap {
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
}

.about .about-content-wrap .about-content {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about-content-wrap .about-content .about-slide {
  max-width: 800px;
  height: 500px;
  position: relative;
}

.about .about-content-wrap .about-content .about-slide #about_items {
  width: 800px;
  height: 500px;
}

.about .about-content-wrap .about-content .about-slide #about_items li {
  width: 800px;
  height: 500px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  color: #fff;
  text-shadow: 0 0 5px #333;
  font-size: 44px;
  line-height: 58px;
  font-weight: 500px;
  padding: 300px 0 30px 50px;
  transition: all ease-in-out .3s;
}

.about .about-content-wrap .about-content .about-slide #about_items li span {
  font-size: 50px;
  font-weight: bold;
}

.about .about-content-wrap .about-content .about-slide .on {
  opacity: 1 !important;
  z-index: 1 !important;
}

.about .about-content-wrap .about-content .about-slide #about_items li:nth-child(1) {
  background: url("../images/index/about1.jpg") no-repeat center/cover;
}

.about .about-content-wrap .about-content .about-slide #about_items li:nth-child(2) {
  background: url("../images/index/about2.jpg") no-repeat center/cover;
}

.about .about-content-wrap .about-content .about-slide #about_items li:nth-child(3) {
  background: url("../images/index/about3.jpg") no-repeat center/cover;
}

.about .about-content-wrap .about-content .about-text {
  width: 400px;
  height: 500px;
  border-left: 1px solid #0F70A3;
  color: #0F70A3;
  padding: 100px 30px;
  position: relative;
}

.about .about-content-wrap .about-content .about-text h3 {
  font-size: 26px;
}

.about .about-content-wrap .about-content .about-text h3 span {
  font-weight: bold;
  font-size: 30px;
}

.about .about-content-wrap .about-content .about-text h4 {
  margin-top: 30px;
  line-height: 35px;
  font-size: 24px;
}

.about .about-content-wrap .about-content .about-text button {
  width: 50px;
  border: 0;
  background: none;
  position: absolute;
  bottom: 10%;
  right: 10%;
  margin-top: 30px;
  margin-left: 25px;
}

.about .about-content-wrap .about-content .about-text a.mb-btn {
  display: none;
}

.about .about-content-wrap .about-content .about-text a.web-btn {
  display: inline-block;
  width: 230px;
  height: 50px;
}

.about .about-content-wrap .about-content .about-text a.web-btn .custom-btn {
  width: 230px;
  height: 50px;
  color: #0F70A3;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.about .about-content-wrap .about-content .about-text a.web-btn .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.about .about-content-wrap .about-content .about-text a.web-btn .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  transition: all 0.3s ease;
}

.about .about-content-wrap .about-content .about-text a.web-btn .btn-15:hover {
  color: #fff;
}

.about .about-content-wrap .about-content .about-text a.web-btn .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.about .about-content-wrap .about-content .about-text a.web-btn .btn-15:active {
  top: 2px;
}

#play:hover {
  cursor: pointer;
}

.course {
  background: #f8fdff;
  border-bottom: 1px solid #0F70A3;
}

.course .title {
  height: 100px;
  border-bottom: 1px solid #0F70A3;
}

.course .title h2 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}

.course .course-contents {
  transition: all ease-in-out .3s;
  box-sizing: border-box;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.course .course-contents li {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: 1px solid #0F70A3;
  border-radius: 50%;
  background: #fff;
  color: #0F70A3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.course .course-contents li h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.course .course-contents li img {
  height: 100px;
}

.course .course-contents li p {
  font-size: 22px;
  margin-top: 10px;
}

.course .course-mobile {
  display: none;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .title {
  height: 100px;
}

.review .title h2 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}

.review .review-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 100px;
}

.review .review-wrap li {
  margin-top: 50px;
  width: 250px;
  border: 1px solid #0F70A3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.review .review-wrap li img {
  width: 240px;
  height: 240px;
}

.review .review-wrap li .review-text {
  height: 100px;
  color: #0F70A3;
  font-size: 16px;
}

.review .review-wrap li .review-text p {
  margin: 15px 0 30px 0;
}

.review .review-wrap li .review-text h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.review .review-wrap li:hover {
  cursor: pointer;
  transition: all ease-in-out .3s;
  transform: scale(1.05) translateY(-20px);
}

.review a {
  margin-bottom: 100px;
}

.review a .custom-btn {
  width: 230px;
  height: 50px;
  color: #0F70A3;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.review a .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.review a .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  transition: all 0.3s ease;
}

.review a .btn-15:hover {
  color: #fff;
}

.review a .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.review a .btn-15:active {
  top: 2px;
}

.P-none {
  display: none !important;
}

@media only screen and (max-width: 425px) {
  .P-none {
    display: block !important;
  }
  .mobile-slide {
    top: 50px;
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
  }
  .mobile-slide .mobile-hero-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 250px;
    color: #fff;
    padding: 30px;
    z-index: 10;
    line-height: 35px;
    font-size: 30px;
    text-align: right;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .mobile-slide .mobile-hero-text h2 {
    text-shadow: 0 0  2px #333;
  }
  .mobile-slide .mobile-hero-text h2 span {
    font-size: 40px;
    font-weight: bold;
  }
  .mobile-slide .mobile-hero-text .btn-2-mobile {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    line-height: 27px;
    border: 1px solid #fff;
    text-align: center;
    position: absolute;
    transform: translate(0, -100%);
    right: 30px;
    bottom: 20px;
  }
  .mobile-slide .items-wrap {
    width: 100%;
    height: 100%;
  }
  .mobile-slide .items-wrap #items2 {
    width: 100%;
    height: 250px;
    position: relative;
  }
  .mobile-slide .items-wrap #items2 li {
    transition: all ease-in-out .5s;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
  }
  .mobile-slide .items-wrap #items2 li img {
    width: 100%;
    height: 100%;
  }
  .mobile-slide .items-wrap #items2 li.top {
    z-index: 1;
    opacity: 1 !important;
  }
  .mobile-slide .line-mobile {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 10;
    bottom: 15px;
  }
  .section-wrap {
    position: absolute;
    top: 300px;
    left: 0;
  }
  .shorcut ul {
    width: 100vw;
    margin: 0 auto;
    border-left: none;
    border-top: 1px solid #0F70A3;
  }
  .shorcut ul li {
    width: 25vw;
    height: 25vw;
    font-size: 16px;
    line-height: 0;
    align-items: center;
  }
  .shorcut ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .shorcut ul li a img {
    height: 15vw;
  }
  .shorcut ul li a h3 {
    margin-top: 10px;
  }
  .shorcut ul > li:last-child {
    border-right: none;
  }
  .service .title {
    height: 50px;
  }
  .service .title h2 {
    font-size: 18px;
    line-height: 50px;
  }
  .service .service-wrap-wrap {
    border-top: 1px solid #0F70A3;
    border-bottom: 1px solid #0F70A3;
    background: #f8fdff;
    position: relative;
  }
  .service .service-wrap-wrap .ul-service-wrap {
    width: 100%;
    border-left: none;
    border-right: none;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service {
    height: 80vw;
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li {
    width: 100vw;
    justify-content: center;
    column-gap: 20px;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li img {
    width: 40vw;
    height: auto;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li p {
    line-height: 22px;
    font-size: 16px;
    color: #0F70A3;
    padding-right: 0;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li p span {
    font-weight: bold;
    line-height: 50px;
    font-size: 28px;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #0F70A3;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li:nth-child(1) p {
    text-align: left;
    padding-right: 10px;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li:nth-child(2) {
    flex-direction: row-reverse;
    border-right: none;
    border-bottom: none;
  }
  .service .service-wrap-wrap .ul-service-wrap .first-service li:nth-child(2) p {
    padding-left: 10px;
  }
  .service .service-wrap-wrap .ul-service-wrap .second-service {
    display: none;
  }
  .about .title {
    height: 50px;
  }
  .about .title h2 {
    font-size: 18px;
    line-height: 50px;
  }
  .about .about-content-wrap {
    border-top: 1px solid #0F70A3;
    border-bottom: 1px solid #0F70A3;
  }
  .about .about-content-wrap .about-content {
    width: 100vw;
    height: 200px;
    justify-content: space-between;
    border-left: 0;
    border-right: 0;
  }
  .about .about-content-wrap .about-content .about-slide {
    width: 60vw;
    height: 200px;
    position: relative;
  }
  .about .about-content-wrap .about-content .about-slide #about_items {
    width: 60vw;
    height: 200px;
  }
  .about .about-content-wrap .about-content .about-slide #about_items li {
    width: 60vw;
    height: 200px;
    text-shadow: 0 0 3px #333;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500px;
    padding: 120px 0 10px 10px;
    transition: all ease-in-out .3s;
  }
  .about .about-content-wrap .about-content .about-slide #about_items li span {
    font-size: 30px;
    font-weight: bold;
  }
  .about .about-content-wrap .about-content .about-slide .on {
    opacity: 1 !important;
    z-index: 1 !important;
  }
  .about .about-content-wrap .about-content .about-slide #about_items li:nth-child(1) {
    background: url("../images/index/about1.jpg") no-repeat center/cover;
  }
  .about .about-content-wrap .about-content .about-slide #about_items li:nth-child(2) {
    background: url("../images/index/about2.jpg") no-repeat center/cover;
  }
  .about .about-content-wrap .about-content .about-slide #about_items li:nth-child(3) {
    background: url("../images/index/about3.jpg") no-repeat center/cover;
  }
  .about .about-content-wrap .about-content .about-text {
    width: 40vw;
    height: 200px;
    border-left: 1px solid #0F70A3;
    color: #0F70A3;
    padding: 30px 0 0 10px;
    position: relative;
  }
  .about .about-content-wrap .about-content .about-text h3 {
    font-size: 14px;
  }
  .about .about-content-wrap .about-content .about-text h3 span {
    font-weight: bold;
    font-size: 18px;
  }
  .about .about-content-wrap .about-content .about-text h4 {
    margin-top: 10px;
    line-height: 23px;
    font-size: 14px;
  }
  .about .about-content-wrap .about-content .about-text button {
    width: 28px;
    border: 0;
    background: none;
    position: absolute;
    bottom: 10%;
    right: 10%;
    margin-top: 30px;
    margin-left: 25px;
  }
  .about .about-content-wrap .about-content .about-text a.mb-btn {
    display: block;
    border: 1px solid #0F70A3;
    width: 100px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
  }
  .about .about-content-wrap .about-content .about-text a.web-btn {
    display: none;
  }
  .course .title {
    height: 50px;
  }
  .course .title h2 {
    font-size: 18px;
    line-height: 50px;
  }
  .course .course-contents {
    display: none;
  }
  .course .course-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course .course-mobile .course-mobile-wrap1 {
    display: flex;
  }
  .course .course-mobile .course-mobile-wrap1 div {
    background: #fff;
    width: 150px;
    height: 150px;
    border: 1px solid #0F70A3;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0F70A3;
  }
  .course .course-mobile .course-mobile-wrap1 div h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .course .course-mobile .course-mobile-wrap1 div img {
    width: 80px;
  }
  .course .course-mobile .course-mobile-wrap1 div p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }
  .course .course-mobile .course-mobile-wrap2 {
    display: flex;
  }
  .course .course-mobile .course-mobile-wrap2 div {
    background: #fff;
    width: 150px;
    height: 150px;
    border: 1px solid #0F70A3;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0F70A3;
  }
  .course .course-mobile .course-mobile-wrap2 div h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .course .course-mobile .course-mobile-wrap2 div img {
    width: 80px;
  }
  .course .course-mobile .course-mobile-wrap2 div p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }
  .review .title {
    height: 50px;
  }
  .review .title h2 {
    font-size: 18px;
    line-height: 50px;
  }
  .review .review-wrap {
    margin-bottom: 50px;
  }
  .review .review-wrap li:nth-child(2) {
    display: none;
  }
  .review .review-wrap li:nth-child(3) {
    display: none;
  }
  .review .review-wrap li:nth-child(4) {
    display: none;
  }
  .review a {
    margin-bottom: 50px;
  }
  .review a .custom-btn {
    width: 200px;
    height: 50px;
  }
  aside {
    display: none;
  }
}
