@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}
  
a{
    text-decoration: none;
    color: inherit;
}
  
ul,li{
    list-style-type: none;
}

.header-wrap{
    height: 100px;
}
.header{
    display: flex;
}
.contents-wrap{
    background: url(../images/jinyang/Rectangle\ 54.png) center no-repeat;
    height: 450px;
}
.contents-wrap h2{
    color: #ffffff;
}

.contents{
    text-align: center;
    padding: 20px;
}
.contents a{
    text-align: center;
    font-size: 18px;
    color: #7B7979;
    padding: 20px;
}

.midmenu{
    text-align: center;
    height: 200px;
    border-bottom: #0F70A3 solid 1px;
}
.midmenu h3{
    display: inline-block;
    color: #0F70A3;
    padding: 60px;
}
.midtitle{
    border-bottom: #0F70A3 solid 1px;
}
.midtitle h2{
    border-bottom: #0F70A3 solid 1px;
    padding: 30px;
    font-weight: bolder;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
    color: #0F70A3;
    margin: 0;
}
.subbtn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0 ;
}
.contact-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;
}
#contact div{
    padding: 10px;
    
}
.container{
    max-width: 1200px;
}
.midtitle{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.mid1, .mid2, .mid3, .mid4{
    width: 700px;
    height: 450px;
    
}
.phone-wrap {
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: 1;
  }
  
  .phone-wrap #phone {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
.mid1{
    border-right: 1px solid #0F70A3;
}
.mid3{
    border-right: 1px solid #0F70A3;
}

.m1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.m2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.midwrap{
    margin: 0 auto;
}
.question{
    color: #0F70A3;
    padding: 30px;
}
.answer{
    color: #0F70A3;
    font-weight: bolder;
    padding: 30px;
}
.ansdml h2{
    border-bottom: #0F70A3 solid 1px;
    padding: 30px;
    font-weight: bolder;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
    color: #0F70A3;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .title {
  height: 100px;
}

.review .title h2 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 100px;
  text-align: center;
  color: #0F70A3;
}

.review .review-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 100px;
}

.review .review-wrap li {
  margin-top: 50px;
  width: 250px;
  border: 1px solid #0F70A3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.review .review-wrap li img {
  width: 240px;
  height: 240px;
}

.review .review-wrap li .review-text {
  height: 100px;
  color: #0F70A3;
  font-size: 16px;
}

.review .review-wrap li .review-text p {
    margin: 15px 0 15px 0;
    color: #0F70A3;
}

.review .review-wrap li .review-text h5 {
    font-weight: bold;
    color: #0F70A3;
    margin-bottom: 5px;
}
.review-text h6 {
    font-weight: bold;
    color: #0F70A3;
    margin-bottom: 5px;
}

.review .review-wrap li:hover {
    cursor: pointer;
    transition: all ease-in-out .3s;
    transform: scale(1.05) translateY(-20px);
}

.review a {
    margin-bottom: 100px;
}

.review a .custom-btn {
    width: 230px;
    height: 50px;
    color: #0F70A3;
    padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.review a .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.review a .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  transition: all 0.3s ease;
}

.review a .btn-15:hover {
  color: #fff;
}

.review a .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.review a .btn-15:active {
  top: 2px;
}
