body {
  font: 18px noto sans serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

span {
  font-weight: bold;
}

.d-none {
  display: none;
}

.P-none {
  display: none !important;
}

.section-wrap {
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 10;
}

.section-wrap .hero-wrap {
  position: relative;
}

.section-wrap .hero-wrap .animate__fadeInUp {
  position: absolute;
  top: 35%;
  left: 33%;
  width: 450px;
}

.section-wrap .hero-wrap .hero {
  background: url(../images/service/service-hero.png) no-repeat center/cover;
  width: 100%;
  height: 650px;
}

.section-wrap .service-tab-wrap {
  width: 100%;
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-tab-wrap .service-tab {
  max-width: 480px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  color: #0F70A3;
}

.section-wrap .report-text {
  max-width: 1200px;
  height: 860px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .report-text img {
  width: 600px;
  height: 400px;
  margin-bottom: 50px;
}

.section-wrap .report-text p {
  font-size: 28px;
  color: #0F70A3;
  line-height: 50px;
}

.section-wrap .report-process {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
  position: relative;
  padding: 0 30px 50px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-wrap .report-process h4 {
  font-size: 28px;
  text-align: center;
  color: #0F70A3;
  padding: 50px 0 100px 0;
}

.section-wrap .report-process .report-process-img {
  width: 100%;
  margin: 0 0 100px 0;
}

.section-wrap .report-process .report-process-text {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 22%;
  right: 30px;
}

.section-wrap .report-process a {
  margin-bottom: 50px;
}

.section-wrap .report-process a .custom-btn {
  width: 230px;
  height: 50px;
  color: #0F70A3;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.section-wrap .report-process a .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.section-wrap .report-process a .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  transition: all 0.3s ease;
}

.section-wrap .report-process a .btn-15:hover {
  color: #fff;
}

.section-wrap .report-process a .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.section-wrap .report-process a .btn-15:active {
  top: 2px;
}

.section-wrap .report-sample-wrap {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-wrap .report-sample-wrap h3 {
  font-size: 28px;
  color: #0F70A3;
  padding: 50px 0 100px 0;
  text-align: center;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li:hover .overlay1 {
  display: block;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay1 {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 350px;
  height: 500px;
  /* width: 100%;
                    height: 100%; */
  z-index: 1000;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay1 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  color: #fff;
  margin-top: 200px;
  margin-bottom: 50px;
  text-shadow: 0 0 5px black;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay1 button {
  text-align: center;
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  background: #222;
  color: #fff;
  margin-left: 75px;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li:hover .overlay2 {
  display: block;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay2 {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 350px;
  height: 500px;
  /* width: 100%;
                    height: 100%; */
  z-index: 1000;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay2 .sample-text {
  margin-top: 30px;
  color: #fff;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay2 .sample-text .sample-text-title {
  font-size: 22px;
  margin-bottom: 50px;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li .overlay2 .sample-text p {
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
  line-height: 40px;
}

.section-wrap .report-sample-wrap .report-sample-imgwrap li img {
  width: 350px;
  height: 500px;
}

.section-wrap .report-sample-wrap a {
  margin: 100px 0;
}

.section-wrap .report-sample-wrap a .custom-btn {
  width: 230px;
  height: 50px;
  color: #0F70A3;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.section-wrap .report-sample-wrap a .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.section-wrap .report-sample-wrap a .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  transition: all 0.3s ease;
}

.section-wrap .report-sample-wrap a .btn-15:hover {
  color: #fff;
}

.section-wrap .report-sample-wrap a .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.section-wrap .report-sample-wrap a .btn-15:active {
  top: 2px;
}

.section-wrap .banner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 300px;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
}

.section-wrap .banner img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.section-wrap .banner .banner-text {
  width: 1000px;
  top: 0;
  left: 10%;
}

@media (max-width: 425px) {
  .section-wrap {
    top: 50px;
  }
  .section-wrap .hero-wrap {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .section-wrap .hero-wrap .animate__fadeInUp {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 200px;
  }
  .section-wrap .hero-wrap .hero {
    height: 200px;
  }
  .section-wrap .service-tab-wrap .service-tab {
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
  }
  .section-wrap .service-tab-wrap .service-tab li {
    font-size: 18px;
  }
  .section-wrap .report-text {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    height: 500px;
  }
  .section-wrap .report-text img {
    width: 350px;
    height: 200px;
    margin-bottom: 30px;
  }
  .section-wrap .report-text p {
    font-size: 18px;
  }
  .section-wrap .report-process {
    padding: 30px 20px;
  }
  .section-wrap .report-process h4 {
    font-size: 18px;
    padding: 20px 0 50px 0;
  }
  .section-wrap .report-process .report-process-img {
    margin-bottom: 30px;
  }
  .section-wrap .report-process .report-process-text {
    width: 130px;
    top: 30%;
  }
  .section-wrap .report-process a {
    margin: 0;
  }
  .section-wrap .report-process a button {
    transform: scale(0.7);
  }
  .section-wrap .report-sample-wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .section-wrap .report-sample-wrap h3 {
    font-size: 18px;
    padding: 50px 0;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap {
    width: 100%;
    margin: 0 auto;
    column-gap: 0;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap li {
    text-align: center;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap li:hover.overlay1 {
    display: none !important;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap li img {
    width: 250px;
    height: 350px;
    border: 1px solid #0F70A3;
    padding: 10px;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap li:last-child .overlay2 {
    display: none;
  }
  .section-wrap .report-sample-wrap .report-sample-imgwrap li:last-child img {
    display: none;
  }
  .section-wrap .report-sample-wrap a {
    margin: 50px 0;
  }
  .section-wrap .report-sample-wrap a button {
    transform: scale(0.7);
  }
  .section-wrap .banner {
    max-width: 100%;
    margin: 0 auto;
    height: 200px;
  }
  .section-wrap .banner img {
    width: 100%;
  }
  .section-wrap .banner .banner-text {
    width: 100%;
    left: 0;
    padding: 10px;
  }
  :hover.overlay1 {
    display: none !important;
  }
}
