body {
  font: 18px noto sans serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

span {
  font-weight: bold;
}

.d-none {
  display: none;
}

.P-none {
  display: none !important;
}

.section-wrap {
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
}

.section-wrap .hero-wrap {
  position: relative;
}

.section-wrap .hero-wrap .animate__fadeInUp {
  position: absolute;
  top: 35%;
  left: 33%;
  width: 450px;
}

.section-wrap .hero-wrap .hero {
  background: url(../images/service/service-hero.png) no-repeat center/cover;
  width: 100%;
  height: 650px;
}

.section-wrap .service-tab-wrap {
  width: 100%;
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-tab-wrap .service-tab {
  max-width: 480px;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #0F70A3;
}

.section-wrap .service-step-wrap {
  max-width: 1200px;
  margin: 0 auto;
  color: #0F70A3;
  position: relative;
  overflow: hidden;
}

.section-wrap .service-step-wrap .centerline {
  position: absolute;
  top: 0;
  left: 600px;
  width: 1px;
  height: 2000px;
  background: #0F70A3;
}

.section-wrap .service-step-wrap .service-step1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 50px 50px 50px;
}

.section-wrap .service-step-wrap .service-step1 .step1 {
  position: relative;
  width: 550px;
}

.section-wrap .service-step-wrap .service-step1 .step1 h5 {
  width: 100%;
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 26px;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-step-wrap .service-step1 .step1 li {
  font-size: 22px;
  line-height: 40px;
}

.section-wrap .service-step-wrap .service-step1 img {
  width: 460px;
  height: 300px;
}

.section-wrap .service-step-wrap .service-step2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px;
}

.section-wrap .service-step-wrap .service-step2 img {
  width: 460px;
  height: 300px;
}

.section-wrap .service-step-wrap .service-step2 .step2 {
  position: relative;
  width: 550px;
}

.section-wrap .service-step-wrap .service-step2 .step2 h5 {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 26px;
  text-align: right;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-step-wrap .service-step2 .step2 li {
  text-align: right;
  font-size: 22px;
  line-height: 40px;
}

.section-wrap .service-step-wrap .service-step3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px;
}

.section-wrap .service-step-wrap .service-step3 .step3 {
  position: relative;
  width: 550px;
}

.section-wrap .service-step-wrap .service-step3 .step3 h5 {
  width: 100%;
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 26px;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-step-wrap .service-step3 .step3 li {
  font-size: 22px;
  line-height: 40px;
}

.section-wrap .service-step-wrap .service-step3 img {
  width: 460px;
  height: 300px;
}

.section-wrap .service-step-wrap .service-step4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px 100px 50px;
}

.section-wrap .service-step-wrap .service-step4 img {
  width: 460px;
  height: 300px;
}

.section-wrap .service-step-wrap .service-step4 .step4 {
  position: relative;
  width: 550px;
}

.section-wrap .service-step-wrap .service-step4 .step4 h5 {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 26px;
  text-align: right;
  border-bottom: 1px solid #0F70A3;
}

.section-wrap .service-step-wrap .service-step4 .step4 li {
  font-size: 22px;
  text-align: right;
  line-height: 40px;
}

.section-wrap .guide-title {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
  text-align: center;
  font-size: 28px;
  color: #0F70A3;
}

.section-wrap .guide-wrap {
  max-width: 1200px;
  margin: 0 auto;
  height: 900px;
  overflow: hidden;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
}

.section-wrap .guide-wrap .guide-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #0F70A3;
  border-bottom: 1px solid #0F70A3;
  padding: 50px 0;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon1 img {
  width: 150px;
  height: 150px;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon1 p {
  font-size: 18px;
  padding-top: 30px;
  font-weight: bolder;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon2 img {
  width: 150px;
  height: 150px;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon2 p {
  font-size: 18px;
  padding-top: 30px;
  font-weight: bolder;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon3 img {
  width: 150px;
  height: 150px;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon3 p {
  font-size: 18px;
  padding-top: 30px;
  font-weight: bolder;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon4 img {
  width: 150px;
  height: 150px;
}

.section-wrap .guide-wrap .guide-icon-wrap .guide-icon4 p {
  font-size: 18px;
  padding-top: 30px;
  font-weight: bolder;
}

.section-wrap .guide-wrap .guide-text {
  max-width: 1200px;
  margin: 50px auto;
  font-size: 20px;
  line-height: 80px;
  color: #0F70A3;
  padding-left: 100px;
}

.section-wrap .charge-wrap {
  color: #0F70A3;
}

.section-wrap .charge-wrap h4 {
  font-size: 28px;
  color: #0F70A3;
  text-align: center;
  border-top: 1px solid #0F70A3;
  border-bottom: 1px solid #0F70A3;
  height: 100px;
  line-height: 100px;
}

.section-wrap .charge-wrap .charge {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  border-bottom: 1px solid #0F70A3;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
}

.section-wrap .charge-wrap .charge .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #0F70A3;
  padding: 30px 100px 0 0;
}

.section-wrap .charge-wrap .charge .one img {
  width: 160px;
  height: 180px;
}

.section-wrap .charge-wrap .charge .one .one-text h6 {
  font-size: 22px;
  margin-bottom: 20px;
}

.section-wrap .charge-wrap .charge .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.section-wrap .charge-wrap .charge .group img {
  width: 160px;
  height: 180px;
}

.section-wrap .charge-wrap .charge .group .group-text h6 {
  font-size: 22px;
  margin-bottom: 20px;
}

.section-wrap .cs-call-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #0F70A3;
  border-right: 1px solid #0F70A3;
}

.section-wrap .cs-call-wrap img {
  width: 180px;
  height: 180px;
}

.section-wrap .cs-call-wrap .cs-call-text {
  text-align: center;
  color: #0F70A3;
}

.section-wrap .cs-call-wrap .cs-call-text p {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 30px;
}

.section-wrap .cs-call-wrap .cs-call-text a {
  margin-bottom: 100px;
}

.section-wrap .cs-call-wrap .cs-call-text a .custom-btn {
  width: 230px;
  height: 50px;
  color: #0F70A3;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid #0F70A3;
  outline: none;
}

.section-wrap .cs-call-wrap .cs-call-text a .btn-15 {
  background: #fff;
  border: 1px solid #0F70A3;
  z-index: 1;
}

.section-wrap .cs-call-wrap .cs-call-text a .btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #0F70A3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-wrap .cs-call-wrap .cs-call-text a .btn-15:hover {
  color: #fff;
}

.section-wrap .cs-call-wrap .cs-call-text a .btn-15:hover:after {
  left: 0;
  width: 100%;
}

.section-wrap .cs-call-wrap .cs-call-text a .btn-15:active {
  top: 2px;
}

@media (max-width: 425px) {
  .section-wrap {
    top: 50px;
  }
  .section-wrap .hero-wrap {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .section-wrap .hero-wrap .animate__fadeInUp {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 200px;
  }
  .section-wrap .hero-wrap .hero {
    height: 200px;
  }
  .section-wrap .service-tab-wrap .service-tab {
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
  }
  .section-wrap .service-tab-wrap .service-tab li {
    font-size: 18px;
  }
  .section-wrap .service-step-wrap {
    max-width: 100%;
    margin: 0 auto;
    color: #0F70A3;
    position: relative;
    overflow: hidden;
  }
  .section-wrap .service-step-wrap .centerline {
    position: absolute;
    top: 0;
    left: 212.5px;
    width: 1px;
    height: 2000px;
    background: #0F70A3;
  }
  .section-wrap .service-step-wrap .service-step1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .section-wrap .service-step-wrap .service-step1 .step1 {
    width: 212.5px;
    position: relative;
  }
  .section-wrap .service-step-wrap .service-step1 .step1 h5 {
    width: 100%;
    border-bottom: 1px solid #0F70A3;
    font-size: 18px;
    position: absolute;
    top: -30px;
    left: 0;
    padding-left: 10px;
  }
  .section-wrap .service-step-wrap .service-step1 .step1 li {
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
  }
  .section-wrap .service-step-wrap .service-step1 img {
    width: 180px;
    height: 100px;
    padding-right: 20px;
  }
  .section-wrap .service-step-wrap .service-step2 {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .section-wrap .service-step-wrap .service-step2 img {
    width: 180px;
    height: 100px;
    padding-left: 20px;
  }
  .section-wrap .service-step-wrap .service-step2 .step2 {
    width: 212.5px;
    position: relative;
  }
  .section-wrap .service-step-wrap .service-step2 .step2 h5 {
    width: 100%;
    border-bottom: 1px solid #0F70A3;
    font-size: 18px;
    position: absolute;
    top: -30px;
    right: 0;
    padding-right: 10px;
  }
  .section-wrap .service-step-wrap .service-step2 .step2 li {
    padding: 0 10px;
    font-size: 12px;
    line-height: 20px;
  }
  .section-wrap .service-step-wrap .service-step3 {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .section-wrap .service-step-wrap .service-step3 .step3 {
    width: 212.5px;
    position: relative;
  }
  .section-wrap .service-step-wrap .service-step3 .step3 h5 {
    width: 100%;
    border-bottom: 1px solid #0F70A3;
    font-size: 18px;
    position: absolute;
    top: -30px;
    left: 0;
    padding-left: 10px;
  }
  .section-wrap .service-step-wrap .service-step3 .step3 li {
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
  }
  .section-wrap .service-step-wrap .service-step3 img {
    width: 180px;
    height: 100px;
    padding-right: 20px;
  }
  .section-wrap .service-step-wrap .service-step4 {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .section-wrap .service-step-wrap .service-step4 img {
    width: 180px;
    height: 100px;
    padding-left: 20px;
  }
  .section-wrap .service-step-wrap .service-step4 .step4 {
    width: 212.5px;
    position: relative;
  }
  .section-wrap .service-step-wrap .service-step4 .step4 h5 {
    width: 100%;
    border-bottom: 1px solid #0F70A3;
    font-size: 18px;
    position: absolute;
    top: -30px;
    right: 0;
    padding-right: 10px;
  }
  .section-wrap .service-step-wrap .service-step4 .step4 li {
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
  }
  .section-wrap .guide-title {
    max-width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .section-wrap .guide-wrap {
    max-width: 100%;
    height: 500px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #0F70A3;
    padding: 30px 10px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon1 img {
    width: 70px;
    height: 70px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon1 p {
    font-size: 11px;
    padding-top: 20px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon2 img {
    width: 70px;
    height: 70px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon2 p {
    font-size: 11px;
    padding-top: 20px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon3 img {
    width: 70px;
    height: 70px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon3 p {
    font-size: 11px;
    padding-top: 20px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon4 img {
    width: 70px;
    height: 70px;
  }
  .section-wrap .guide-wrap .guide-icon-wrap .guide-icon4 p {
    font-size: 11px;
    padding-top: 20px;
  }
  .section-wrap .guide-wrap .guide-text {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    font-size: 12px;
    line-height: 30px;
    margin: 0;
  }
  .section-wrap .charge-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .section-wrap .charge-wrap h4 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-top: 1px solid #0F70A3;
    border-bottom: 1px solid #0F70A3;
  }
  .section-wrap .charge-wrap .charge {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  .section-wrap .charge-wrap .charge .one {
    padding: 20px 0;
    border-bottom: 1px solid #0F70A3;
  }
  .section-wrap .charge-wrap .charge .one img {
    width: 80px;
    height: 80px;
  }
  .section-wrap .charge-wrap .charge .one .one-text h6 {
    font-size: 18px;
  }
  .section-wrap .charge-wrap .charge .one .one-text p {
    font-size: 16px;
  }
  .section-wrap .charge-wrap .charge .group {
    padding: 20px 0;
  }
  .section-wrap .charge-wrap .charge .group img {
    width: 80px;
    height: 80px;
  }
  .section-wrap .charge-wrap .charge .group .group-text h6 {
    font-size: 18px;
  }
  .section-wrap .charge-wrap .charge .group .group-text p {
    font-size: 16px;
  }
  .section-wrap .cs-call-wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .section-wrap .cs-call-wrap img {
    width: 100px;
    height: 100px;
  }
  .section-wrap .cs-call-wrap .cs-call-text p {
    margin: 0;
    font-size: 18px;
  }
  .section-wrap .cs-call-wrap .cs-call-text button {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
