.section-wrap {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
  }
  
  .hero {
    width: 100%;
    height: 650px;
    background: url('../images/comapny/hero1.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero > img{
    width: 450px;
    height: auto;
    
  }

  .title{
    color: #0F70A3;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #0F70A3;
    border-top: 1px solid #0F70A3;
    column-gap: 150px;
}

.title > li:nth-child(1){
  font-weight: 400;
}
.title > li:nth-child(2){
  font-weight: bold;
}

.history{

  


  h2{
    width: 100%;
    height: 100px;
    font-size: 22px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #0F70A3;
    color: #0F70A3;
  }
  .mobile-history{
    display: none;
  }
  .history-wrap{
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid #0F70A3;
    border-right: 1px solid #0F70A3;
    padding: 50px;
    position: relative;

    img{
      width: 100%;
      z-index: 0;
    }

    .history-text{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      font-size: 22px;
      font-weight: 500;
      color: #0F70A3;
      line-height: 30px;
    }
    .history-text> li{
      position: absolute;
    }
    .history-text > li:nth-child(1){
      top: 104px;
      left: 300px;
      text-align: left;
    }
    .history-text > li:nth-child(2){
      top: 572px;
      left: 433px;
    }
    .history-text > li:nth-child(3){
      top: 1016px;
      left: 299px;
      text-align: center;
    }
    .history-text > li:nth-child(4){
      bottom: 170px;
      left: 330px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
  }

  
}
.P-none{
  display: none !important;
}
.performance{
  width: 100%;
  border-top: 1px solid #0F70A3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  h2{
    width: 100%;
    height: 100px;
    font-size: 22px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    color: #0F70A3;
  }
  a{
        
    margin-bottom: 100px;
    
    .custom-btn {
        width: 230px;
        height: 50px;
        color: #0F70A3;
        padding: 10px 25px;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        border: 1px solid #0F70A3;
        outline: none;
    }

    .btn-15 {
        background: #fff;
        border: 1px solid #0F70A3;
        z-index: 1;
      }
      .btn-15:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: #0F70A3;
        //  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        //  7px 7px 20px 0px rgba(0,0,0,.1),
        //  4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
      }
      .btn-15:hover {
        color: #fff;
      }
      .btn-15:hover:after {
        left: 0;
        width: 100%;
      }
      .btn-15:active {
        top: 2px;
      }
}

 .m-btn{
   display: none;
 }
}
.card{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.card > li{
  width: 300px;
  height: 400px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.card > li:nth-child(1) {
  background: url('../images/comapny/appartment1.jpg') no-repeat center/cover;
}
.card > li:nth-child(2) {
  background: url('../images/comapny/appartment2.jpg') no-repeat center/cover;
}
.card > li:nth-child(3) {
  background: url('../images/comapny/appartment3.jpg') no-repeat center/cover;
  font-size: 26px;
}
.modal{
  border: 3px solid #fff;
  width: 280px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  text-align: center;
  h3{
    margin: 10px 0;
  }
  
}
.card > li:hover{
  transform: scale(1.1);
  transition: all ease-in-out .3s;
}
.performance > h4 {
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  color: #0F70A3;
  font-weight: 400;
}
@media only screen and (max-width: 425px){
  .section-wrap {
    top: 50px;
  }

  .hero {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero > img{
    width: 200px;
    height: auto;
    
  }

  .title{
    // display: none;
    font-size: 18px;
    height: 50px;
  }
  .history{
    // display: none;

    h2{
      font-size: 18px;
      height: 50px;
      line-height: 50px;
    }

    .mobile-history{
      padding: 20px;
      display: block;
      // border-bottom: 1px solid #0F70A3;
    }

    .history-wrap{
      display: none;
    }
  }
  .performance{
    // display: none;
    h2{
      font-size: 18px;
      height: 50px;
      line-height: 50px;
    }
    a.m-none{
      display: none;
    }

    .m-btn{
      display: block;
    }
  }
  .card{
    width: 100%;
    column-gap: 20px;
  }

  .card > li{
    width: 100px;
    height: 140px;
    font-size: 12px;
  }

  .modal{
    width: 90px;
    height: 130px;
    border: 1px solid #fff;
  }

  .card > li:nth-child(3) {
    font-size: 12px;
  }

  .performance > h4 {
    display: none;
  }
  .m-btn{
    margin: 20px 0;
    color: #0F70A3;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0F70A3;
    text-align: center;
    padding: 10px 20px;

  }
}